<app-headmsg
    [titre]="titre"
    [soustitre]="soustitre"
    [photo] = "photo"
    >
</app-headmsg>
<app-start></app-start>
<div class="container">
    <div class="filiere">
        <span class="section-badge">Filières d'étude</span>
        <h2>Découvrez les filières d'étude</h2>
        <div class="domaines">
            <div class="row py-3">
                <div class="col-md-12">
                    <ul id="tabs" class="nav nav-tabs">
                        @for (item of branch; track $index) {
                            @if ($index ===0) {
                                <li class="nav-item"> <a href="" [attr.data-target]="'#tabix'+$index" data-toggle="tab" class="nav-link active"> {{item.branche_dom}} </a> </li>
                            }@else {
                                <li class="nav-item"> <a href="" [attr.data-target]="'#tabix'+$index" data-toggle="tab" class="nav-link"> {{item.branche_dom}} </a> </li>
                            }
                        }
                    </ul>
                    <br>
                    <div id="tabsContent" class="tab-content">
                        @for (item of branch; track $index) {
                            @if ($index === 0) {
                                <div [id]="'tabix'+$index" class="tab-pane fade active show">
                                    @for (itemi of domainesLong; track itemi.id_dom) {
                                        @if (itemi.branche_dom === item.branche_dom) {
                                            <button type="button" class="metier-item" (click)="voirFiliere(itemi.nom_dom, itemi.id_dom)">{{itemi.nom_dom}}</button>
                                        }
                                    }
                                </div>
                            } @else {
                                <div [id]="'tabix'+$index" class="tab-pane fade">
                                    @for (itemi of domainesLong; track itemi.id_dom) {
                                        @if (itemi.branche_dom === item.branche_dom) {
                                            <button type="button" class="metier-item" (click)="voirFiliere(itemi.nom_dom, itemi.id_dom)">{{itemi.nom_dom}}</button>
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            <!-- <p-tabView >
                @for (item of branch; track item.branche_dom) {
                    <p-tabPanel [header]="item.branche_dom" >
                        @for (itemi of domainesLong; track itemi.id_dom) {
                            @if (itemi.branche_dom === item.branche_dom ) {
                                <button class="metier-item" (click)="voirFiliere(itemi.id_dom)">{{itemi.nom_dom}}</button>
                            }
                        }
                    </p-tabPanel>    
                }
            </p-tabView> -->
        </div>
    </div>
    <div class="une">
        <div class="section-head">
            <span class="section-badge">Établissements partenaires</span>
            <h2>Les écoles à la une</h2>
        </div>
        <div class="carousel">
            <div class="card-container">
                @for (item of schoolAdvers$ | async ; track item.id_ecol) {
                    <app-school-advers [schoolAdv]="item" ></app-school-advers>
                }
            </div>
        </div>        
    </div>
    <div class="actual">
        <app-actu-list/>
    </div>
</div>
