<div class="container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" ></div>
    </div>
    <div class="statut">
        <h2>En quelle Bac+ êtes-vous aujourd'hui ?</h2>
        <div >
            <button class="btn btn-primary"  
                                *ngFor="let niveau of niveau " 
                                type="button" 
                                (click)="setNiveau(niveau)">{{niveau}} </button>
        </div>
        <button class="btn btn-primary"  (click)="setNiveau('aucun diplome')" >Aucun diplôme</button>
    </div>
</div>