<div class="container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" ></div>
    </div>
    <div>
        <h2>En quelle classe êtes-vous ?</h2>
        <div >
            <button class="btn btn-primary"  
                                *ngFor="let classe of classe " 
                                type="button" 
                                (click)="setClasse(classe)"> {{classe}}</button>
        </div>
    </div>
</div>
