.logo {
    width: 32px;
    .logo-img{
        width: 100px;
        padding: 10px;
        background-color: white;
        border-radius: 13px;
    }
}

.navbar-toggler-icon{
    border-radius: 5px;
    background-color: #fff;
}

:host ::ng-deep{
    .p-menuitem-content {
        a{
            text-decoration: none;
        }
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.navbar{
     z-index: 100000;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
     padding: 20px;
    background-color: #30017E;
     color: #fff;
}
.nav-links a {
    color: #fff;
}


// NAVBAR MENU
.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #5b03e7;
    transition: 0.3s ease;
}
.menu li {
    padding: 0 14px;

}

DROPDOWN MENU
.openning .reopenning{
    position: relative;
}
.dropdown, .redropdown{
    border-color: #30017E;
    padding: 0;
    position: absolute;
    display: none;
    transform: translateX(-70px);
}

.redropdown {
    top: 0px;
    // bottom: 0;
    transform: translateX(-100%);
}

.dropdown li + li{
    margin-top: 0px;
}
.redropdown li + li{
    margin-top: 0px;
}
.dropdown li{
    border-bottom: 1px solid #d8d8d8;
    background-color: #5b03e7;
    padding: 0.3em 0;
    width: 8em;
    text-align: center;
    margin-top: 7px;
}
.redropdown li{
    border-bottom: 1px solid #d8d8d8;
    border-right: 3px solid #d8d8d8;
    background-color: #5b03e7;
    padding: 0.3em 0;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #cc03e7;
}
.redropdown li:hover {
    background-color: #cc03e7;
}

.openning:hover .dropdown {
    display: block;
}
.reopenning:hover .redropdown {
    display: block;
}

//RESPONSIVE NAVBAR MENU STARTS

//CHECKBOX HACK
input[type=checkbox] {
    display: none;
}

//HAMBURGER MENU
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

// APPLYING MEDIA QUERIES
@media (max-width: 400px){
    .dropdown {
        left: 40%;
        top: 140px;
        transform: translateX(35%);
    }
}
@media (min-width: 400px) and (max-width: 768px){
    .dropdown {
        left: 50%;
        top: 118px;
        transform: translateX(35%);
    }
}
@media (max-width: 768px){
    .menu{
        display: none;
        position: absolute;
        background-color: #30017E;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #5b03e7;
        transition: 0.3s ease;
    }

    .menu li {
        margin-top: 14px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hideMenu {
        display: none !important;
    }
    .showMenu {
        display: block !important;
    }

    
    //HAMBURGER MENU
    .hamburger {
        display: block;
    }

    
    .redropdown {
        top: 0px;
    }

    .dropdown li:hover {
        background-color: #cc03e7;
    }

}