<app-headmsg
    [titre]="titre"
    [soustitre]="soustitre"
    [photo] = "photo"
    >
</app-headmsg>
<div class="container">
    <div class="find">
        <div class="titi dispo"> <i></i> Plus de {{countEcole}} établissements disponibles </div>
        <!-- <div class="titi avi">Plus de ______ avis publiés</div> -->
        <form action="" class="former">
            <div class="dropdown-">
                @if (ecole$ | async; as ecole) {
                    <p-dropdown
                        [options]="ecole"
                        [formControl]="ets"
                        optionLabel="displayName"
                        optionValue="displayName"
                        [filter]="true"
                        filterBy="displayName"
                        [showClear]="true"
                        placeholder="Selectionnez un établissement"
                        >

                    </p-dropdown>
                    <!-- <input list="ecole_id"  [formControl]="ets" id="list-input" (input)="hiden()" >
                    <div [class]="absent" > Cette école ne figure pas encore dans notre base de donnée ! </div>
                    <datalist name=""  id="ecole_id">
                        @for (item of ecole; track item.id_ecol) {
                            <option   [value]="item.displayName +' ||'+ item.id_ecol">
                        }
                    </datalist> -->
                }
                <button type="submit" class="startFind" [disabled]="ets.invalid" (click)="onFind()" >Retrouver cette école</button>
            </div>
        </form>
    </div>

    <div class="une">
        <div class="section-head">
            <span class="section-badge">Établissements partenaires</span>
            <h2>Les écoles à la une</h2>
        </div>
        <div class="carousel">
            <div class="card-container">
                @for (item of schoolAdvers$ | async ; track item.id_ecol) {
                    <app-school-advers [schoolAdv]="item" ></app-school-advers>
                }
            </div>
        </div>
    </div>
    <div class="main-container">
        <!-- <app-pub-interest-item *ngFor="let schooli of school$ | async" [school]="schooli"></app-pub-interest-item> -->
        <div class="redaction-info">   
            <h1>Les différents types d'établissements au Cameroun </h1> 
            <p>
                Réussir son orientation ou sa réorientation et bien engager sa carrière, c'est 
                d'abord bien s'informer afin de choisir dans les meilleures conditions.
                <br>
                Camerdiplome, partenaire de votre orientation, est un service gratuit qui vous accompagne dans ce choix.
            </p>   
            <p>En fonction de votre profil et de votre projet :</p>
            <ol>
                <li>Camerdiplome identifie les formations qui vous correspondent.</li>
                <li>Camerdiplome compare les formations qui vous intéressent.</li>
                <li>Camerdiplome vous met en relation avec les responsables des formations que vous avez sélectionnées.</li>
            </ol>    
            <div class="accordion" id="accordionExample" >
                <div class="card">
                    <div id="headingOne" class="card-header">
                        <h2 class="mb-0" >
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" arial-expanded="true" aria-controls="collapseOne">
                                Les IPES par domaine les plus recherchés
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne"  class="collapse show" aria-labelledby="heaingOne" data-parent="#accordionExample" >
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="heading2" class="card-header">
                        <h2 class="mb-0" >
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse2" arial-expanded="true" aria-controls="collapse2">
                                Les établissements les plus populaires
                            </button>
                        </h2>
                    </div>
                    <div id="collapse2"  class="collapse show" aria-labelledby="heaing2" data-parent="#accordionExample" >
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="actual">
            <app-actu-list/>
        </div>
    </div>
</div>