<app-headmsg 
    [titre]="titre"
    [soustitre]="soustitre"
    [photo] = "photo"
    >
</app-headmsg>
<div class="find">
    <div class="dispo"> <i></i> Plus de {{countEcole}} établissements disponibles </div>
    <div class="avi">Plus de ______ avis publiés</div>
    <form action="">
        <div class="form-group">
            <p-dropdown id="ecole_id" 
                        *ngIf="ecole$ | async as ecoles" 
                        placeholder="Quelle Ecole ?" 
                        [options]="ecoles" 
                        optionLabel="displayName" 
                        optionValue="id_ecol" 
                        [filter]="true" filterBy="displayName" [showClear]="true"
                        formControlName="ecole_id">
            </p-dropdown>
            <p-button type="submit" styleClass="p-button-success" (click)="onFind()">Find</p-button>
        </div>
    </form>
</div>
<app-start ></app-start>
<div class="container">
    <div class="une">
        <h2>Les écoles à la une</h2>
        <div class="carousel">
            <div class="card-container">
                @for (item of schoolAdvers$ | async ; track item.id_ecol) {
                    <app-school-advers [schoolAdv]="item" ></app-school-advers>
                }
            </div>
        </div>        
    </div>
    <div class="main-container">
        <!-- <app-pub-interest-item *ngFor="let schooli of school$ | async" [school]="schooli"></app-pub-interest-item> -->
        <div class="redaction-info">   
            <h1>Les différents types d'établissements au Cameroun </h1> 
            <p>
                Réussir son orientation ou sa réorientation et bien engager sa carrière, c'est 
                d'abord bien s'informer afin de choisir dans les meilleures conditions.
                <br>
                Camerdiplome, partenaire de votre orientation, est un service gratuit qui vous accompagne dans ce choix.
            </p>   
            <p>En fonction de votre profil et de votre projet :</p>
            <ol>
                <li>Camerdiplome identifie les formations qui vous correspondent.</li>
                <li>Camerdiplome compare les formations qui vous intéressent.</li>
                <li>Camerdiplome vous met en relation avec les responsables des formations que vous avez sélectionnées.</li>
            </ol>    
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Les IPES par domaine les plus recherchés">
                    <p> 
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Les établissements les plus populaires">
                    <p>
                        
                    </p>
                </p-accordionTab>
                
            </p-accordion>
            
        </div>
    </div>

</div>
<!-- 
<app-info-redaction></app-info-redaction>
<app-interest-list></app-interest-list>
<app-interest-actualite></app-interest-actualite>
<app-interest-avis></app-interest-avis>
<app-interest-classification></app-interest-classification>
 -->

 <!-- <app-under-building></app-under-building> -->