<div class="card">
    <div class="card-body">
        <h2 class="card-title"> {{school.nom_dip}} </h2>
        <p class="card-text"> {{school.nom_e}} </p>
        <div class="grid-container">
            <div class="grid-content">
                <img alt="Card" [src]="'../../../../assets/images/school/logo/'+school.logo_e" [alt]="school.logo_e" />

            </div>
            <div class="grid-content">
                <button class="fas"> {{school.groupe}} </button>
                <button class="fas" *ngIf="school.ville_cam"> <i class="bi-geo-alt-fill"></i> {{school.ville_cam}}
                </button>
                <button class="fas" *ngIf="school.date_debut_f"><i class="bi-clock"></i> {{school.date_debut_f}}
                </button>
                <button class="fas" *ngIf="school.cout_f"><i class="bi-coin"></i> {{school.cout_f}} </button>
            </div>
        </div>
        <button class="btn btn-primary voir" data-toggle="modal" [attr.data-target]="'#modalDetail'+school.id_form">En
            savoir plus</button>
    </div>
</div>

<div class="modal fade" [id]="'modalDetail'+school.id_form" tabindex="-1" role="dialog"
    [attr.aria-labelledby]="'modalDetail'+school.id_form" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Détails de la formation</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <h2 class="card-title"> {{school.nom_dip}} </h2>
                    <p class="card-text"> {{school.nom_e}} </p>
                    <div class="grid-container">
                        <div class="grid-content">
                            <img alt="Card" [src]="'../../../../assets/images/school/logo/'+school.logo_e"
                                [alt]="school.logo_e" />

                        </div>
                        <div class="grid-content">
                            <button class="fas">school.groupe</button>
                            <button class="fas" *ngIf="school.ville_cam"><i class="bi-geo-alt-fill"></i>
                                {{school.ville_cam}} </button>
                            <button class="fas" *ngIf="school.date_debut_f"><i class="bi-clock"></i>
                                {{school.date_debut_f}} </button>
                            <button class="fas" *ngIf="school.cout_f"><i class="bi-coin"></i> {{school.cout_f}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="training-card-show">
                    <div class="more-info">
                        <div class="accreditation">
                            <h5>Accréditation</h5>
                            <br>
                            <hr>
                        </div>
                        <ng-container>
                            <h3>A propos de {{school.nom_e}} </h3>
                            <span [innerHTML]="school.descriptif_e"></span>
                            <br>
                            <hr>
                            <h3>Description de la formation :</h3>
                            <span [innerHTML]="school.descriptif_f"></span>
                            <br>
                            <hr>
                            <h3>Description du diplôme :</h3>
                            <span [innerHTML]="school.descriptif_dip"></span>
                            <br>
                            <hr>
                            <h3>Condition d'admission </h3>
                            <span [innerHTML]="school.conditions_f"></span>
                            <br>
                            <hr>
                        </ng-container>

                        <div class="container">
                            <div class="row mb-4 justify-content-start">
                                <div class="col text-center">
                                    <strong>Contacter un conseiller d'orientation de Camerdiplome</strong>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-success" (click)="discover()">
                                        <i class="bi-telephone"></i>
                                        Numéro WhatsApp
                                    </button>
                                </div>
                            </div>
                            <div class="row mb-4 justify-content-start">
                                <div class="col text-center">
                                    <strong>Contact de l'école</strong>
                                </div>
                                <div class="col">
                                    @if (school.tel_1_e) {
                                    {{school.tel_1_e}}
                                    } @else {
                                    no contact upload
                                    }
                                </div>
                            </div>

                            <div class="row justify-content-start">
                                <div class="col text-center">
                                    <strong>Site Web</strong>
                                </div>
                                <div class="col">
                                    @if (school.siteweb_e) {
                                        <a [href]="school.siteweb_e" target="_blank" rel="noopener noreferrer"><i
                                                class="bi-globe"></i> Cliquez ici</a>
                                    }@else {
                                        no site web found
                                    }
                                </div>
                            </div>

                        </div>
                        <!-- <div  *ngIf="school.email_e"  ><i class="bi-envelope-at-fill"></i> <a [href]="school.email_e" target="_blank" rel="noopener noreferrer"></a> {{school.email_e}} </div> -->
                    </div>
                    <div class="footer">
                        <a (click)="toSchool()" data-dismiss="modal">
                            <button class="btn btn-primary">Voir l'établissement</button>
                        </a>
                        <!-- <p-button label="Demander des informaions" (click)="sendNumber()"  styleClass="p-button-warning" ></p-button> -->
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>








<!-- <p-card [header]="school.nom_dip" 
            [subheader]="school.nom_e" 
            class="training-card"  
            (click)="showDialog()" 
            [style]="{'cursor':'pointer'}">
        <div class="grid-container" >
            <div class="grid-content">
                <img alt="Card" [src]="'../../../../assets/images/school/logo/'+school.logo_e" />
                
            </div>
            <div class="grid-content">
                <p-tag class="fas" [style]="{'background':'#f4f6fc', 'color':'#344cbe'}" [value]="school.groupe" icon="pi pi-graduation-cap"></p-tag>
                <p-tag [style]="{'background':'#f4f6fc', 'color':'#344cbe'}" *ngIf="school.ville_cam"  [value]="school.ville_cam" icon="pi pi-map-marker"></p-tag>
                <p-tag [style]="{'margin-top': '7px','background':'#f4f6fc', 'color':'#344cbe'}" *ngIf="school.date_debut_f"  [value]="school.date_debut_f" icon="pi-dollar"></p-tag>
                <p-tag [style]="{'margin-top': '7px','background':'#f4f6fc', 'color':'#344cbe'}" *ngIf="school.cout_f"  [value]="school.cout_f" icon="pi pi-dollar"></p-tag>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <p-button label="En savoir plus"></p-button>
        </ng-template>
    </p-card> -->

<!-- <p-dialog   header="Détail de la formation" 
                [(visible)]="visible" 
                [style]="{width: '90vw'}"
                [modal]="true"  
                [draggable]="false" 
                [resizable]="false">
                <p-card [header]="school.nom_dip" [subheader]="school.nom_e" class="training-card medium" >
                    <div class="grid-container" >
                        <div class="grid-content">
                            <img alt="Card" [src]="'../../../../assets/images/school/logo/'+school.logo_e" />
                        </div>
                        <div class="grid-content">
                            <p-tag class="fas" [style]="{'background':'#f4f6fc', 'color':'#344cbe'}" [value]="school.groupe" icon="pi pi-graduation-cap"></p-tag>
                            <p-tag [style]="{'background':'#f4f6fc', 'color':'#344cbe'}" *ngIf="school.ville_cam"  [value]="school.ville_cam" icon="pi pi-map-marker"></p-tag>
                            <p-tag [style]="{'margin-top': '7px','background':'#f4f6fc', 'color':'#344cbe'}" *ngIf="school.date_debut_f"  [value]="school.date_debut_f" icon="pi pi-dollar"></p-tag>
                            <p-tag [style]="{'margin-top': '7px','background':'#f4f6fc', 'color':'#344cbe'}" *ngIf="school.cout_f"  [value]="school.cout_f" icon="pi pi-dollar"></p-tag>
                            <p-tag [style]="{'margin-top': '7px','background':'#f4f6fc', 'color':'#344cbe'}"  value="Reconnue par l'Etat" icon="pi pi-building-columns"></p-tag>
                        </div>
                    </div>
                </p-card>
                <div class="training-card-show">
                    <div class="more-info">
                        <div class="accreditation">
                            <h5>Accréditation</h5>                            
                        </div>
                        <ng-container *ngIf="school.descriptif_dip">
                            <h5>Description du diplôme :</h5>
                            <br>
                            <span [innerHTML]="school.descriptif_dip"></span>
                            <hr>
                            <span [innerHTML]="school.descriptif_f"></span>
                        </ng-container>
                        <ng-container *ngIf="school.descriptif_e">
                            <h5>Description</h5>
                            <br>
                            <span [innerHTML]="school.descriptif_e"></span>
                            <hr>
                            <span [innerHTML]="school.descriptif_f"></span>
                        </ng-container>
                        <p-tag  *ngIf="school.tel_1_e"  [value]="school.tel_1_e" icon="pi pi-phone"></p-tag>
                        <p-tag  *ngIf="school.email_e"  [value]="school.email_e" icon="pi pi-at"></p-tag>
                        <p-tag  *ngIf="school.siteweb_e"  [value]="school.siteweb_e" icon="pi pi-globe"></p-tag>

                    </div>
                    <div class="footer">
                        <p-button label="Voir l'établissement" (click)="showOnePage(school.nom_e)" [rounded]="true"  severity="secondary"></p-button>
                         <p-button label="Demander des informaions" (click)="sendNumber()"  styleClass="p-button-warning" ></p-button>
                    </div>
                </div>
    </p-dialog> 
    -->
<!-- <p-dialog   header="Vous souhaitez vous informer sans engagement sur la formation :" 
                [(visible)]="visibleCall" 
                [style]="{width: '90vw'}" 
                [modal]="true"  
                [draggable]="false" 
                [resizable]="false">
                <p-card [header]="school.nom_dip" [subheader]="school.nom_e" class="training-card medium" >
                    <div class="grid-container" >
                        <div class="grid-content">
                            <img alt="Card" [src]="'../../../../assets/images/school/logo/'+school.logo_e" />
                        </div>
                    </div>
                </p-card> -->
<!-- 
                <form #telForm="ngForm" (ngSubmit)="onSubmitPhone(telForm)">
                    <label for="telInput">Faites-vous rappeler par l'école !*</label>
                    <input type="tel" id="telInput" name="userPhone" [(ngModel)]="userPhone"> 
                    <h2>Faites-vous rappeler par l'école !*</h2>
                    <mat-form-field appearance="outline">
                        <ngx-mat-intl-tel-input
                            id="telInput" name="userPhone" [(ngModel)]="userPhone"
                            [preferredCountries]="['cm', 'td']"
                            placeholder="Téléphone"
                        ></ngx-mat-intl-tel-input>
                        <mat-label>Numéro Whatsapp si possible</mat-label>
                        
                        <input id="phone" class="input" type="text" placeholder=" "  formControlName="phone">
                        <div class="cut"></div>
                        <label for="phone" class="placeholderc">Téléphone*</label>
                    </mat-form-field>
                    <p-button styleClass="p-button-help" type="submit">OK!</p-button>
                </form>
            -->

<!-- </p-dialog> -->