<p-card>
    <ng-container *ngIf="diplome$ | async as diplome">
      <div class="employee-info">
        <h1>{{ diplome.id_dip }} </h1>
        <h2 [innerHTML]="diplome.nom_dip"></h2>
        <h3><strong>Categorie :</strong>  {{ diplome.nom_cat }}</h3>
        <h3> <strong>Groupe :</strong>  {{ diplome.groupe }}</h3>
        <h3><strong>Descriptif : </strong></h3><span [innerHTML]="diplome.descriptif_dip"></span>
        <h3><strong>Niveau :</strong> {{ diplome.niveau }}</h3>
      </div>
    </ng-container>
    <ng-template pTemplate="footer">
        <p-progressSpinner *ngIf="loading$ | async; else buttons" ariaLabel="loading" />
        <ng-template #buttons>            
            <div class="action-buttons" >
                <p-button severity="warning" label="MODIFIER"  (click)="onModif()"/>
                <p-button  severity="danger" label="SUPRIMER" (click)="onDelet()"/>
                <p-button  severity="success" label="RETOUR" (click)="onGoBack()"/>
            </div>
        </ng-template>
    </ng-template>
  </p-card>