
.container {
    position: relative;
}

.bg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 12px;

}

.content{
    text-align: center;
    //position: absolute;
}

.wsp{
    border: none;
    padding: 5px;
    background-color: limegreen;
    color: white;
    border-radius: 20px;
}