@import '../../informations-style.module.scss';

.adv{
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    background-color: aliceblue;
    text-align: center;
    .list{
        margin: auto;
        text-align: center;
        app-pub-advers{
            display: inline-block;
        }
    }
}

.une {
    display: block;
    padding-top: 50px;
    h2{
        font-size: x-large;
    }
    .carousel {
        width: 100%; /* Width of carousel */
        height: 336px; /* Height of carousel */
    }
    
    .card-container {
        width: 100%; /* Width of card container */
        display: flex; /* Set inline elements */
        overflow-x: auto; /* Set overflow in horizontal scroll */
        overflow-y: hidden; /* Hidden overflow in vertical scroll */
        scroll-snap-type: x mandatory; /* Force the scroll to snap to the start of a scroll-snap area */
        gap: 8px; /* Set gap between cards */
        width: calc(100% - 16px);
        margin: 8px;
        flex: 0 0 calc(100% - 16px); /* Set width of card container */
        padding-bottom: 20px;
    }
    
    .card-container::-webkit-scrollbar {
        // display: none; /* Hide scrollbar in Chrome, Safari and Opera */
    }
    
}

.fiche{
    display: flex;
    margin: 40px 0;
    flex-direction: column;
    h2{
        font-size: x-large;
    }
    .dolom{
        margin-top: 10px;
        .plus{
            border: 1px solid;
            padding: 15px;
            background-color: rgba(254, 254, 254, 0);
            border-radius: 50px; 
        }
        .trouv{
            border: 1px solid #a855f7;
            padding: 50px;
            padding: 15px;
            border-radius: 20px;
            background: #a855f7;
            color: white;
        }
    }
    .metier-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .metier-item{
            border: 1px solid #f6edf8;
            cursor: pointer;
            background-color: #f6edf8;
            padding: 5px 10px;
            border-radius: 15px;
            font-weight: 300;
            margin: 3px;
        }
        
    }
}


:host ::ng-deep{
    .p-card-content{
        display: flex;
        flex-direction: column;
    }
    .dolom{
        .p-button{
            border-radius: 50px;
            width: auto;
        }
        .p-button-label{
            font-weight: 400;
        }
    }
}

@media screen and (min-width: 450px){
    .formations{
        
    }
}