@import '../../informations-style.module.scss';


.dolom{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.trouver{
    margin-top: 10px;
    text-align: center;
    display: inline-flex;
    a{
        width: 100%;
    }
}
.fiche{
    display: flex;
    margin: 40px 0;
    flex-direction: column;
    h2{
        font-size: x-large;
    }
    .metier-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .metier-item{
            border: 1px solid #f6edf8;
            background-color: #f6edf8;
            padding: 5px 10px;
            border-radius: 15px;
            font-weight: 300;
            margin: 3px;
            color: rgb(88, 88, 88);
        }
        
    }
}
.plus{
    border: 1px solid;
    padding: 15px;
    background-color: rgba(254, 254, 254, 0);
    border-radius: 50px; 
}
.trouv{
    border: 1px solid #a855f7;
    padding: 50px;
    padding: 15px;
    border-radius: 20px;
    background: #a855f7;
    color: white;
}


@media screen and (min-width: 450px){
    .dolom{
        display: block;
    }
    .trouver{
        margin-top: 0;
        margin-left: 20px;
    }
}