<h1 class="titre">Termes et conditions</h1>
<div class="container">
    <p>
        Nous proposons de vous fournir nos services selon les termes et conditions contenus dans ce document. Veuillez lire 
        attentivement ce qui suit, et si vous êtes d’accord avec ce que nous avons demandé, veuillez cocher la case pour accepter 
        ces termes et conditions. Si vous avez des questions sur le contenu de ce document, veuillez ne pas accepter mais envoyer 
        un e-mail à <a href="mailto:info@camerdiplome.com">info&#64;camerdiplome.com</a> &nbsp;ou demander un avis indépendant.
    </p>
    
    <ol>
        <li><strong> Ce que nous vous demandons de faire :</strong></li>
    </ol>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vous convenez que :
    </p>
    
    <ul>
        <li>
            toutes les informations que vous fournirez seront complètes, exactes et véridiques ;
        </li>
        <li>
            toutes les informations ou autres déclarations écrites que vous devez faire dans le cadre d'une demande de prestations 
            seront remplies par vous seul ;
        </li>
        <li>
            vous informerez directement <strong>camerdiplome</strong> si les informations que vous nous fournissez dans le cadre 
            d'une demande de prestations cessent d'être complètes, exactes et véridiques ;
        </li>
        <li>
            vous n'utiliserez pas notre système dans un autre but que vous informer, vous former et demander des prestations liées à 
            l'orientation, l'éducation et à la formation. Cela inclut de ne rien faire pour interférer avec le fonctionnement de notre système ou 
            des applications de quelqu'un d'autre au sein du système ;
        </li>
        <li>
            nous conservons la propriété des applications qui facilitent le fonctionnement du système et que vous ne prendrez aucune 
            mesure pour décompiler, traduire, désassembler ou découvrir le code source de tout ou partie de nos applications.
        </li>
        <li>
            vous êtes le seul responsable de l'exhaustivité, de l'exactitude et de la véracité de toutes les informations que vous nous 
            fournissez.
        </li>
        <li>
            si <strong>camerdiplome</strong> vous fournit un service, vous vous engagez à assurer le paiement de tous les frais et 
            autres obligations inhérents audit service. Si le service pour lequel vous avez souscrit doit être effectué par un tiers,
             <strong>camerdiplome</strong> n'est en aucun cas responsable des problèmes dus aux manquements de ce dernier.
        </li>
    </ul>
    
    <ol start="2">
        <li><strong> Cookies</strong></li>
    </ol>
    
    <p>
        Nous utilisons des cookies sur camerdiplome.com pour améliorer votre expérience utilisateur. En continuant à utiliser le site, 
        vous acceptez une telle utilisation.
    </p>
    <p>camerdiplome.com nécessite que votre navigateur ait activé les cookies pour que 
            certaines fonctionnalités fonctionnent correctement. Si vous ne souhaitez pas activer les cookies, vous pourrez toujours 
            accéder à ce site mais certaines fonctionnalités pourraient ne pas fonctionner correctement.
    </p>
    
    <ol start="3">
        <li><strong> Votre vie privée</strong></li>
    </ol>
    <p>
        <strong>&nbsp;</strong>Les informations, y compris les informations sensibles sur votre pays d'origine et votre langue 
        maternelle, que vous nous fournissez ne seront fournies qu'aux personnes ou organisations suivantes aux fins spécifiées :
    </p>
    
    <ul>
        <li>
            Aux fournisseurs des services que vous avez expressément nommés, pour permettre à ces derniers de mieux exécuter la 
            prestation pour laquelle vous avez souscrit&nbsp;;
        </li>
        <li>
            Aux institutions universitaires, organisations partenaires ou chercheurs individuels à des fins statistiques ou de 
            recherche, mais uniquement sous une forme anonyme afin que vous ne puissiez pas être identifié individuellement ;
        </li>
        <li>
            À toute organisation, institution, employeur ou autorité que vous avez cités comme référence, pour nous permettre, de 
            vérifier les détails sur vos qualifications, vos compétences ou d'autres expériences que vous nous avez décrites ;
        </li>
        <li>
            À tout organisme gouvernemental ou autre partie, comme l'exige la loi. En répondant à l'un des objectifs décrits 
            ci-dessus, vous reconnaissez que nous pouvons avoir besoin d'envoyer vos informations à d'autres pays du monde.
        </li>
        <li>
            Si vous ne fournissez pas tous les détails que nous vous demandons, nous pourrions ne pas être en mesure de traiter vos 
            demandes de prestations.
        </li>
        <li>
            Vous acceptez que nous puissions demander à tout partenaire que vous avez sollicité pour un service, de nous envoyer des 
            informations relatives à votre besoin.
        </li>
        <li>
            Si vous souhaitez vérifier l'une des informations que nous détenons à votre sujet, ou si vous avez des préoccupations 
            générales en matière de confidentialité, veuillez envoyer un e-mail à info&#64;camerdiplome et étiqueter le message 
            “destinataire : responsable de la confidentialité”.
        </li>
        <li>
            Si, à tout moment après l'envoi de vos formulaires de demande d'information, vous souhaitez vérifier les informations que nos 
            partenaires détiennent à votre sujet, vous devrez contacter directement les institutions concernées.
        </li>
    </ul>
    
    <p>
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4. Notre responsabilité</strong>
    </p>
    
    <p>
        Vous reconnaissez que :
    </p>
    
    <ul>
        <li>
            camerdiplome travaille avec plusieurs partenaires pour fournir à ses usagers des contenus et les prestations 
            de qualité,
        </li>
        <li>
            camerdiplome veille à la qualité des informations dispensées sur sa plateforme.
        </li>
        <li>
            camerdiplome n'a aucun contrôle sur la décision de ses partenaires, et n'est pas responsables de toute décision prise 
            par un partenaire de ne pas examiné votre demande rapidement, correctement ou pas du tout ;
        </li>
        
        <li>
            camerdiplome ne peut pas promettre que si nous saisissons des données pour des demande de prestations en votre nom, 
            toutes les données que nous saisirons seront sans erreur ou que leur transmission sera sans retard ;
        </li>
        <li>
            camerdiplome ne peut pas promettre que le site Web utilisé pour exécuter ou transférer votre prestation fonctionnera 
            sans erreur, ou que le site Web et son serveur sont exempts de virus informatiques ou d'autres mécanismes nuisibles.
        </li>
        <li>
            En tout état de cause, dans la mesure autorisée par les disposition légales, camerdiplome ne sera pas responsable de 
            tout dommage résultant de la fourniture de nos services ou des produits utilisés pour fournir ces services, que ce soit sur 
            la base d'un contrat, d'un délit ou de toute autre théorie juridique, et indépendamment de tout avis que nous avons donné 
            concernant la possibilité de tels dommages.
        </li>
        <li>
            Si une législation implique des conditions dans la fourniture de nos services qui ne peuvent être exclues, notre 
            responsabilité en cas de violation de ces conditions se limite à vous fournir à nouveau nos services ou à payer le coût de 
            la fourniture de ces services par quelqu'un d'autre.
        </li>
    </ul>
    
    <ol start="5">
        <li><strong> Juridiction et divulgation</strong></li>
    </ol>
    
    <p>
        La législation camerounaise s'applique à ces termes et conditions. En cas de litige que nous ne sommes pas en mesure de 
        résoudre à notre satisfaction mutuelle, l'une ou l'autre des parties peut intenter une action devant un es tribunaux de Yaoundé.
    </p>
    
    <ol start="6">
        <li><strong> Acceptation</strong></li>
    </ol>
    
    <p>
        J'accepte les termes et conditions du site www.camerdiplome.com et je donne les consentements qui ont été demandés sur ce 
        site, y compris le consentement à traiter mes informations personnelles de la manière décrite dans ces termes et conditions.
    </p>
    
    <p>Dernière mise à jour : 30/12/2024</p>						

</div>