<div class="container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" ></div>
    </div>
    <div>
        <h2>Quel est votre niveau d'étude actuel ?</h2>
        <div >
            <button class="btn btn-primary"  
                                *ngFor="let niveau of niveau " 
                                type="button" 
                                (click)="setNiveau(niveau)"> {{niveau}} </button>
        </div>
    </div>
</div>