.adv{
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    background-color: aliceblue;
    text-align: center;
    .list{
        margin: auto;
        text-align: center;
        app-pub-advers{
            display: inline-block;
        }
    }
}


p {
    text-align: justify;
}


.font-bold {
    font-weight: bold;
    font-size: x-large;
}

.parcour {
    width: 50%;
    margin-left: 25%;
}


.une {
    display: block;
    padding-bottom: 50px;
    h2{
        font-size: xx-large;
        text-align: center;
    }
    .carousel {
        width: 100%; /* Width of carousel */
        height: 336px; /* Height of carousel */
    }
    
    .card-container {
        width: 100%; /* Width of card container */
        display: flex; /* Set inline elements */
        overflow-x: auto; /* Set overflow in horizontal scroll */
        overflow-y: hidden; /* Hidden overflow in vertical scroll */
        scroll-snap-type: x mandatory; /* Force the scroll to snap to the start of a scroll-snap area */
        gap: 8px; /* Set gap between cards */
        width: calc(100% - 16px);
        margin: 8px;
        flex: 0 0 calc(100% - 16px); /* Set width of card container */
        padding-bottom: 20px;
    }
    
    .card-container::-webkit-scrollbar {
        // display: none; /* Hide scrollbar in Chrome, Safari and Opera */
    }
    
}


:host ::ng-deep {
    .p-card-content{
        display: flex;
        flex-direction: column;
    }
    .dolom{
        .p-button{
            border-radius: 50px;
            width: auto;
        }
        .p-button-label{
            font-weight: 400;
        }
    }
    .p-organizationchart-table > tbody > tr {
        opacity: 1 !important;
    }
    .p-organizationchart-table>tbody>tr>td {
        padding-left: 2px;
        padding-right: 2px;
    }

    .p-tabview-panels{
        padding: 0;
        padding-top: 1.2rem;
    }

    .p-button {
        margin-top: 10px;
        width: -webkit-fill-available;
    }

    .p-fieldset-legend-text{
        font-size: small;
    }
    .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
        padding: 4px;
    }
    .pi-minus:before{
        display: none;
    }

    .p-fieldset .p-fieldset-content {
        padding: 1px;
    }
    .p-fieldset-legend>a {
        justify-content: left;
    }
    .p-fieldset {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 650px) {   
    .container {
        // display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
       // background-color: #d6e5f2;
        padding: 10px;
    }
    .first-pub {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .main-container {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    h3 {
        font-weight: 500;
    }
    .side-container {
        margin-top: 40px;
    }
}

