<div class="card" (click)="showOnePage(schoolAdv.id_ecol)">
    <div class="illustra">
        <div class="image" [style]="{ 'background-image': 'url(../../../../assets/images/school/'+schoolAdv.sigle_e+'/'+ splitStringToArray(schoolAdv.image_e )[0]+ ')'}" >
        </div>
        <div class="logo">
            <img [src]="'../../../../assets/images/school/logo/'+schoolAdv.logo_e" alt="">
        </div>
    </div>
    <div class="texte">
        <div class="name"> {{schoolAdv.sigle_e}} </div>
        <div class="typo"> {{schoolAdv.type_e}} </div>
        <div class="ville"> {{schoolAdv.ville_cam}} </div>
    </div>
</div>