<div class="container">
    <div class="explorer"></div>
    <div class="inside">
        <div class="intro-inside"></div>
        <div class="localisation"></div>
        <div class="visual"></div>
        <div class="maping"></div>
    </div>
    <div class="avis">
        <div class="avis-sur"></div>
        <div class="avis-list"></div>
    </div>
    <div class="formation">
        <div class="intro-form"></div>
    </div>
    <div class="etablissement">
        <div class="logo"></div>
        <div class="stat"></div>
        <div class="acreditation"></div>
        <div class="description"></div>
    </div>
    <h1> {{ecole[0].nom_e}} </h1>
    <h2> {{ecole[0].sigle_e}} </h2>
</div>
