<div class="card ">
    <div class="logo">
        <img alt="Card" [src]="'../../../../assets/images/school/logo/'+school.logo_e"  [alt]="school.logo_e" />
    </div>
    <div class="diplome">{{school.nom_dip}}</div>
    <div class="ecole"> {{school.nom_e}} </div>
    <div class="avis">
        <div class="start"> {{school.note}} </div>
        <div class="occurence"> {{school.count}} </div>
    </div>
    <div class="emoti">
        <button class="lone" *ngIf="school.niveau" > {{school.niveau}} </button>
        <button class="lone" *ngIf="school.ville_cam" > {{school.ville_cam}} </button>
        <button class="lone" *ngIf="school.date_debut_f" > {{school.date_debut_f}} </button>
        <button class="lone" *ngIf="school.cout_f" > {{school.cout_f}} </button>
    </div>
    <div *ngIf="school.descriptif_dip"  class="descript" [innerHTML]="school.descriptif_dip | slice:0:100"></div>
    <a [routerLink]="'/info/formation/'+school.id_form">
        <button class="voir">Voir la formation</button>
    </a>
</div> 