/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "primeicons/primeicons.css";

.mat-typography{
    padding-left: 3%;
    padding-right: 3%;
}

/* Importing Bootstrap SCSS file. */
//@import 'bootstrap/scss/bootstrap';

// import Quill styles in styles.scss
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";
