<div class="container">
    <div class="h2">
       Explorez les plus beaux campus du Cameroun   
    </div>
    <ul class="items">
        @for (item of schoolAdvers$ | async ; track item.id_ecol) {
            <li class="item" (click)="showOnePage(item.id_ecol)">
                <div class="ilustra">
                    <img [src]="'../../../../assets/images/school/'+item.sigle_e+'/'+splitStringToArray(item.image_e )[0]">
                    <div class="logo">
                        <img [src]="'../../../../assets/images/school/logo/'+item.logo_e" style="background-color: #393838d1;">
                    </div>
                </div>
                <div class="ets">
                    <h3> {{item.ville_cam}} </h3>
                    <h4> {{item.sigle_e}} </h4>
                </div>
            </li>
        }
    </ul>
</div>  